{
        {$CADDY_GLOBAL_OPTIONS}

        frankenphp {
                {$FRANKENPHP_CONFIG}
        }

        order php_server before file_server
}

# The domain name of your server
{$SERVER_NAME:localhost} {
        # Set the webroot to the /app/public/ directory
        root * /app/public

        # Enable compression (optional)
        encode zstd br gzip

        # Execute PHP files from the public/ directory and serve assets
        php_server
}
